<div class="card" style="min-height: 42rem; margin-top: 0.5rem">
    {% if instance.image %}
        <img src="{{ instance.image.url }}" class="card-img-top" alt="{{ instance.title }}"
             style="width: auto; height: 200px;">
    {% endif %}
    <div class="card-body d-flex flex-column">
        <h5 class="card-title">
            {{ instance.title }}
        </h5>

        <div class="list-group" style="height: auto; max-height: 5rem; overflow-y: scroll; margin-top: 0.5rem;">
            {% for tg in instance.tag_set.all %}
                <a href="/search/?q={{ tg.title }}" class="card-text" style="padding-right: 6px; padding-left: 4px; margin-top: 2px; border-radius: 5px; width: fit-content; height: auto; background-color: {{ tg.color }}">• {{ tg }}</a>
            {% endfor %}
        </div>

        {% if instance.tag_set.all %}
            <hr/>
        {% endif %}

        <h5 class="card-text">{{ instance.price|floatformat:2 }} ₽</h5>

        <p class="card-text" style="max-height: 1rem; font-size: small">{{ instance.description|truncatewords:10 }}</p>
        <div class="mt-auto">
            <p class="card-text"><small class="text-muted">{{ instance.created_at|timesince }} назад</small></p>
            <hr/>
            {% include "products/snippets/update-cart.html" with product=instance cart=cart %}
            <a href="{{ instance.get_absolute_url }}" class="btn btn-block btn-outline-secondary" style="margin-top: 0.5rem">Подробнее</a>
        </div>
    </div>
</div>